/* This file contains changes to the original css */
#dokuwiki__header {
    padding-bottom:0;
}
#dokuwiki__usertools {
    right:2em;
    padding-right: 40px;
}

#dokuwiki__site {
    margin: 0;
}

.dokuwiki div.page {
    padding: 0;
    border: 1px solid #ccc;
}

.dokuwiki div.page div.content {
    padding: 2em;
}

/* topbar */
div#topbar {
    height: 2.6em;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    color: #555;
    text-shadow: 1px 1px 0 #fff;
}
div#topbar ul {
    list-style: none;
    text-indent: none;
    padding:0;
    margin:0;
}

div#topbar ul.topbar-left {
    float: left;
    margin-left:1em;
}

div#topbar ul.topbar-right {
    float: right;
    margin-right:1em;
}

div#topbar ul li {
    float:left;
    padding:0.7em 0.7em 0.5em 0.7em;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    margin:0;
}
div#topbar ul li.infomail {
    padding:0.6em 0.5em 0.3em 0.5em;
}

div#topbar form input.button {
    background: none repeat scroll 0 0 transparent;
    border: 0;
    color: #555;
    text-shadow: 1px 1px 0 #fff;
    box-shadow: none;
    padding: 0;
    cursor: pointer;
}

div#topbar ul li a {
    color: #555;
}

div#topbar ul li.active {
    color: #000;
    background: #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
/* sitenotice */
div#sitenotice a.smalledit {
    color: #999;
    font-size: 90%;
    float: right;
    padding-right: 1em;
}
/* sidebar */
#sidebar {
    padding: 3px;
    width: 14em;
    margin-top: 2em;
    position:fixed;
}
#sidebar h2 {
    font-size: 1.1em;
    font-weight: bold;
    color: #555;
    background: #eee;
    padding: 3px 0 4px 4px;
    box-shadow: 0 0 2px #999999;
    text-shadow: 1px 1px 0 #fff;
}

#sidebar ul {
}

#sidebar ul li {
    padding: 2px 0 2px 0;
}
#sidebar ul li.active,
#sidebar ul li.nav-active {
    font-weight:bold;
}
